/* For Taiwind Suggestion */
@import "tailwindcss";



/* All Google Fonts Classes */
.poppins-font{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.tiro-bangla-regular{
  font-family: "Tiro Bangla", serif;
  font-style: normal;
}

.tiro-bangla-regular-italic{
  font-family: "Tiro Bangla", serif;
  font-style: italic;
}

.hind-siliguri-font{
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
}


/* Handling Auto Card Center */
/* #word-container{
  grid-template-columns: repeat(auto-fit,minmax(350px,max-content));
} */

/* Handling Lesson Button Active UI */
.lesson-active-btn{
  background-color: #3B25C1;
  color: white;
  font-weight: bold;
}